<section class="d-flex align-items-center about all-sections">
    <div class="container text-white ">

        <h1 class="text-uppercase fw-bold py-3 text-center">ABOUT COMPONENT</h1>
        <div class="text-center">
            <div class="line-star"></div>
            <i _ngcontent-tve-c6="" class="fa-solid fa-star text-white  px-3"></i>
            <div class="line-star"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about-info">
                    <p >Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.</p>
                </div>

            </div>
            <div class="col-md-6">
                <div class="about-info">
                    <p >Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.</p>
                </div>

            </div>
        </div>
    </div>
</section>