<section class="contact  mb-4 all-sections">
<h1 class="text-uppercase fw-bold py-3 text-center "> contact section</h1>
<div class="text-center ">
    <div class="linee-star"></div>
    <i _ngcontent-tve-c6="" class="fa-solid fa-star px-3"></i>
    <div class="linee-star"></div>
</div>

<form class="w-50 mx-auto mt-4 ">
<input 
id="userName"
type="text"
class="form-control border-0 border-bottom py-3 position-relative mb-4"
placeholder="userName"
name="userName"

>


<input 
id="userAge"
type="text"
class="form-control border-0 border-bottom py-3 position-relative mb-4"
placeholder="userAge"
name="userAge">


<input 
id="userEmail"
type="text"
class="form-control border-0 border-bottom py-3 position-relative mb-4"
placeholder="userEmail"
name="userEmail">

<input 
id="userPassword"
type="text"
class="form-control border-0 border-bottom py-3 position- mb-4"
placeholder="userPassword"
name="userPassword">


<button class="btn contact-btn text-white">send Message</button>

</form>


</section>