<section class="home d-flex align-items-center">
    <div class="container">
    <div class="item text-center text-white w-75 mx-auto">
        <img class="home-img" src="./images/avataaars.svg" alt="">
        <h2>start framework</h2>

        <div class="text-center">
            <div class="line-star"></div>
            <i _ngcontent-tve-c6="" class="fa-solid fa-star text-white fa-xl px-3"></i>
            <div class="line-star"></div>
        </div>

        <p class="small pt-3">Graphic Artist - Web Designer - Illustrator</p>
    </div>
    </div>
</section>